@media only screen and (max-width: 733px) {
	.summary {
		float: none !important;
		}
	}

body {
	font: normal .8em Verdana;
	}

section {
	margin: 1em 1em 2em 2em;
	}
	
/* Sommaire */
.summary {
	background: #EEE;
	border-radius: 1em;
	box-shadow: .5em .5em 1em rgba(0 0 0 / 20%);
	float: left;
	height: auto;
	padding: 0 1em 1em;
	}
.summary > ol {
	padding: 0;
	}
.summary ol {
	list-style: none;
	}

#eTop {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1em;
	}
#eBottom {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1em;
	}

/* Doc */
.doc {
	display: flex;
	flex-direction: column;
	}
.doc SECTION H2,
.doc SECTION H3,
.doc SECTION H4,
.doc SECTION H5 {
	margin-left: 0;
	}
.doc SECTION > * {
	margin-left: 1em;
	}
.doc SECTION > DL {
	margin-left: 3em;
	}