body {
	background: #FFF;
	}

/* Chaque section représesente une page */
page {
	box-sizing: border-box;
	padding: 2em 1em 1em;
	position: fixed;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 250ms;
	overflow: auto;
	z-index:1;
	opacity: 0;
	}

page.active {
	top: 0;
	opacity: 1;
	}
	
.pageMenu {
	position: absolute;
	z-index:1000;
	display: flex;
	list-style-type: none;
	margin: 0 ;
	padding: 0;
	top: 0;
	left: 0;
	}
.pageMenu LI {
	background: #eee;
	border-radius: 0 0 1em 1em;
	box-shadow: .5em .5em 1em rgba(0 0 0 / 20%);
	cursor: pointer;
	list-style-type: none;
	margin: 0 0 0 .5em ;
	padding: .5em 1em;
	transition: all 250ms;
	}
.pageMenu LI.active {
	background: #000;
	color: #FFF;
	}
.pageMenu LI:hover {
	box-shadow: 0 0 0 rgba(0 0 0 / 20%);
	}

/* Chargement de la page */
#ePreload {
	display: flex;
	align-items: center;
	justify-content: center;
	}

A,
A:visited {
	color: blue;
	}
A:hover ,
A:active {
	color: darkorange;
	}

