.UT_true {
	border-left: .5em solid lime;
	padding-left: 1em;
	}
.UT_false {
	border-left: .5em solid red;
	padding-left: 1em;
	}
.UT_error,
.UT_correct {
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px rgba(0 0 0 / 20%);
	padding: 2px 1em;
	margin: 2px 1em;
	}
.UT_error {
	background: yellow;
	color: red;
	border: 1px solid red;
	}
.UT_correct {
	background: #000;
	color: lime;
	}
.UT_title,
.UT_assertions {
	margin: 0;
	padding: 0;
	}
.UT_assertions > *{
	border-radius: 2em;
	}
.UT_assertions > *:hover{
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0 0 0 / 20%);
	}
.UT_eval {
	background: #eee;
	border-radius: 1em;
	box-shadow:inset 2px 2px 2px rgba(0 0 0 / 20%);
	padding: 1em;
	}
.UT_desc {
	margin: 1em 0 0;
	}
.UT_section {
	margin: 1em 0 0 1em;
	}
.UT_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 0 0 0 1em;
	}